:root {
  box-sizing: border-box;
  background-color: #181818;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
  max-width: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--bg-primary);
    color: white;
  }
}

body {
  margin: 0;
  max-width: 100%;
}

@property --primary-color {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(245, 139, 0);
}

@property --bg-primary {
  syntax: "<color>";
  inherits: false;
  initial-value: #242526;
}

@property --bg-secondary {
  syntax: "<color>";
  inherits: false;
  initial-value: #444;
}

.center-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.2);
  top: 0;
  left: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  border: 10px solid #f3f3f3db;
  border-top: 10px solid var(--primary-color);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
